
body {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
}
#content {
        width: 80%;
        text-align: center;
        margin: auto;
        padding-bottom: 10px;
}

#content h1 {
        color: #001f3f;
}

/* consulted https://css-tricks.com/using-css-for-image-borders/ */
#content img {
        width: 90%;
        height: 90%;
        max-width: 632px;
        max-height: inherit;
        border: 2px solid #001f3f;
        padding: 1px;
        
        border-radius: 2px
}

/* consulted http://www.w3schools.com/Css/css3_buttons.asp */
.button {
        background-color: #FFFFFF; 
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border: 2px solid #001f3f;
        border-radius: 2px;
        width: 20%;
}

.button :hover {
    font-weight: bold;
}

a {
        color: #001f3f;
        text-decoration: none;
}
